body {
    background-image: url("../../BlackJack/assests/blackJackImg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;

}
h1 {
    color: goldenrod;
}
#message-el {
    font-style: italic;
}
button {
    background: goldenrod;
    width: 300px;
    font-size: 30px;
    font-weight: bold;
    color: #016f32;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 1px;
    margin-top: 1px;
}